<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905550475297-os9d9lslddqhsrj7qh86g0mjgbtsef8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905550475297-os9d9lslddqhsrj7qh86g0mjgbtsef8a</string>
	<key>API_KEY</key>
	<string>AIzaSyAeyp03_MRIp_G0pN5uU5schCTWz-fU2Vk</string>
	<key>GCM_SENDER_ID</key>
	<string>905550475297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fis.moneynotedev</string>
	<key>PROJECT_ID</key>
	<string>moneynote-d4fda</string>
	<key>STORAGE_BUCKET</key>
	<string>moneynote-d4fda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905550475297:ios:f4369ef8213a72a6c87360</string>
</dict>
</plist>